* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: "Gravitas One", "Times New Roman", serif;
}

#container {
    background-image: url("images/Copilot_20260629_205149.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 1rem;
}


.game-play {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    max-width: 1000px;
    gap: 2rem;
    margin: 0 auto;
}

nav {
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: end;
    align-self: start;
}


#player-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

#player-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.center {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: lightgreen;
    aspect-ratio: 1/1;
    border-radius: 50% !important;
}

.center h3 {
    text-align: center;
}

#player-3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.main-player {
    grid-row: 3/4;
    grid-column: span 3;
    font-size: 1.5rem;
}

.main-player > .dice-bids {
    margin: 0 auto;
}

.main-player .die {
    font-size: 3rem;
}

.player {
    background-color: #8b5a2b;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow:  0.1em 0.1em rgba(0, 0, 0, 0.8),  inset 0.2em 0.3em 0.75em rgba(231, 203, 177, 0.8), inset -0.1em -0.1em 0.1em rgba(59, 38, 18, 0.8);
}



.player img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    width: 100px;
}


.dice-bids {
    background-color: rgb(253, 227, 192);
    display: flex;
    padding: 0.25rem;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.die {
    display: inline-flex;
    padding: 0.1rem;
    font-size: 2rem;
}

.die i {
    font-size: 1em;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

#bid-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 1rem;
    padding: 1rem;
    background-color:#8b5a2b;
    box-shadow:  0.1em 0.1em rgba(0, 0, 0, 0.8),  inset 0.2em 0.3em 0.75em rgba(231, 203, 177, 0.8), inset -0.1em -0.1em 0.1em rgba(59, 38, 18, 0.8);
}

#bid-buttons {
    display: flex;
    align-items: center;
}


.button {
    font-family: "Roboto Condensed", sans-serif;
    --inset-shadow: rgba(179, 65, 0, 0.8);
    font-size: 1.75rem;;
    padding: 1.5em;
    border-radius: 0.5em;
    box-shadow:  0.1em 0.1em rgba(0, 0, 0, 0.8),  inset 0.2em 0.3em 0.75em rgba(255, 255, 255), inset -0.1em -0.1em 0.5em var(--inset-shadow);
    border: solid 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button:active {
    transform: translate(1px, 1px);
    box-shadow: inset -0.25em -0.25em 1.5em var(--inset-shadow);
}

.button.fluff {
    background-color: #ff7b00;
    margin-right: 4rem;
}


.button.minus {
    --inset-shadow: rgba(155, 0, 0, 0.8);
    background-color: #ff0000;
    margin-right: 1rem;
    padding: 0.5em 0.85em;
}

.button.minus:active {
    --inset-shadow: rgba(155, 0, 0, 0.8);
}

.button.plus {
    background-color: #00cc00;
    --inset-shadow: rgba(0, 128, 0, 0.8);
    margin-left: 1rem;
    margin-right: 1.5rem;
    padding: 0.5em 0.75em;
}

.button.plus:active {
    --inset-shadow: rgba(0, 128, 0, 0.8);
}

.button.bid {
    background-color: #0000ff;
    --inset-shadow: rgba(0, 0, 153, 0.8);
    margin-left: 4rem;
}

.button.bid:active {
    --inset-shadow: rgba(0, 0, 153, 0.8);
}

.button.center {
    background-color: rgb(189, 53, 12);
    --inset-shadow: rgba(120, 34, 8, 0.8);
}

.button.center {
    --inset-shadow: rgba(120, 34, 8, 0.8);
}

nav .button {
    background-color: yellow;
    font-size: 0.75rem;
    padding: 1em;
    --inset-shadow: rgba(178, 179, 0, 0.8);
}

nav .button:active {
    --inset-shadow: rgba(178, 179, 0, 0.8);
}

#pop-up {
    cursor: pointer;
}

#pop-up:hover {
    background-color:#8b5a2b;
}

.dice-bids .menu {
    position: absolute;
    bottom: 110px;
}

.menu .die {
    font-size: 2rem;
    cursor: pointer;
}

.menu .die:hover {
    background-color:#8b5a2b;
    border-radius: 0.5rem;
}

.menu .die:active {
    font-size: 2.5rem;
}

.hidden {
    display: none;
}

#display {
    min-width: 2.6rem;
    text-align: center;

}

